@import "./colors";

* {
    margin: 0;
    color: rgba(40, 40, 40, 0.938)
}

.app {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

p, h1 {
    margin: 0;
  }

  .content {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 3;
  }

// WildBackground.scss

.wild-background {
  background: linear-gradient(135deg, #00B4DB, #7800b0, #00B4DB, #5f13c9);
  background-size: 400% 400%; // Control the size of the gradient effect
  animation: gradientAnimation 60s linear infinite; // Create an animation

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.welcom-background {
  position: absolute;
  width: 100%;
  top: 0;
  background: linear-gradient(135deg, #00B4DB, #7800b0, #00B4DB, #5f13c9);
  background-size: 400% 400%; // Control the size of the gradient effect
  animation: gradientAnimation 30s linear infinite; // Create an animation

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

input {
  background-color: rgba(255, 255, 255, 0.166);
  border-radius: 10px;
  border: none;
}

input::placeholder {
  color: #3a3a3a; /* Adjust the color as needed */
}

.form-nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  height: fit-content;
  z-index: 1;
  margin: 3%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.166);
  align-items: center;
}
.nav-item {
  margin: 10px;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.166);
  border-radius: 10px;
}
.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}