@import './colors';

.form-banner {
    position: relative;
    width: 80%;
    height: 15vh;
    z-index: 1;
    margin-top: 3%;
    border-radius: 10px;
    overflow: hidden;
    img { 
        position: relative;
        max-height: 30%;
        object-fit: cover;
        top: 25%;
    }
}
.form-header {

    display: flex;
    padding: 10px;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 3%;
    text-align: left;
    max-height: 20%;

    img {
        overflow: hidden;
        height: 75px;
        width: 75px;
        object-fit: cover;
        background-color: rgba(255, 255, 255, 0.166);
        border-radius: 100px; 
        padding: 10px 
    }
    .form-bio {
        width: 80%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 10px;
        text-align: left;
        overflow: hidden;
    }
}

.form-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px;
    p {
        padding: 0px;
    }
}
.form-line {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: start;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 10px;
    margin-top: 3%;
    overflow-x: hidden;
    input {
        width: 98%;
        min-height: 5vh;
    }
}

.form-flex {
    display: flex;
}

.cal-form-line {
    margin-top: 3%;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
        width: 100%;
    }
}

.avatar {
    border-radius: 50px;
}

.nameImage {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 30%;
    }
}