@import './colors';

.form-banner {
    position: relative;
    width: 100%;
    height: 15vh;
    z-index: 1;
    img {
        position: relative;
        max-height: 30%;
        object-fit: cover;
        top: 25%;
    }
}
.form-header {

    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    text-align: left;
    max-height: 20%;

    img {
        overflow: hidden;
        height: 75px;
        width: 75px;
        object-fit: cover;
        border: 1px solid black;
        border-radius: 100px; 
        padding: 10px 
    }
    .form-bio {
        width: 80%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 10px;
        border: 1px solid red;
    }
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-gap: 10px;
    p {
        padding: 0px;
    }
}
.form-line {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: start;
    justify-content: flex-start;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    input {
        width: 98%;
        min-height: 5vh;
    }
}
