.radio-selector {
    border: 1px solid red;
    width: 100%;
    text-align: left;
}

/* SizeTextBox.css */
.size-text-box {
    width: 100%;
    min-height: 10em; /* Set the initial height to two text lines */
    max-height: 10em; /* Set the maximum height */
    padding: 8px;
    font-size: 16px;
    resize: none; /* Disable resizing */
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds max-height */
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 10px;
    border: none;
}