.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 columns
    gap: 10px; // Adjust the gap as needed
    grid-auto-rows: 1fr; // Set the rows to equal heights
    width: 100%;
    justify-content: center;
    align-items: center;
    .image-grid-item-selected {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
   
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Maintain the image's aspect ratio
      }
  
      button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .image-grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Maintain the image's aspect ratio
      }
  
      button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }  
.gridpage {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .p {
    p {
      margin: 0;
      color: black;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 5px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.322)
  }
}